<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>542325166586-5dq77q8o91kugv6fkmk4pcl6a18moo0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542325166586-5dq77q8o91kugv6fkmk4pcl6a18moo0t</string>
	<key>API_KEY</key>
	<string>AIzaSyCR1JmPcPfVPbDsSUn8YF74FzECPa-Tt18</string>
	<key>GCM_SENDER_ID</key>
	<string>542325166586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MariannaCampbell.Makestagram</string>
	<key>PROJECT_ID</key>
	<string>makestagram-cdc19</string>
	<key>STORAGE_BUCKET</key>
	<string>makestagram-cdc19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542325166586:ios:34d59a3826fadb82</string>
	<key>DATABASE_URL</key>
	<string>https://makestagram-cdc19.firebaseio.com</string>
</dict>
</plist>